API_ID=25898978 # get this value from my.telegram.org
API_HASH=8b0f2179ed27f83222d344bb6959d00c # get this value from my.telegram.org
BOT_TOKEN=5803103196:AAHCIk0ypwasJ9cFEzl5vtpdj4lFFsu_rVg # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://Yatoo99:Yatoo99@cluster0.3gj7zms.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001942888481 # get this value from in your log group 
MUSIC_BOT_NAME=Sora Music # your music bot name 
STRING_SESSION=AQClQQLfbGrTPG0yWmrXkihMffpOZMGixawKADrTOrkvyxlv1s-TktynaHizB956CO0gw8HlMUsGzbCSXfpUYng1kZvp0_YoeyMp5EgOQos6eLewv37o0mKKJa4t3XDf6g0nf8V6q7hb1P0hqU7wQBBbj-2NGEe2sSckh40YciKEa_bT-2dEulYfyrHF79pku50JjtNeOu8_g_2RwDTF1WcQzwdD3gajFhZHQHcTAAL2PibVwPTH0k2KGiQsWwcXQIPM6uV5RD5WoenWteLtmvsqmveVi3zOSGU9InYvlueMlSVhGcr9lhZ5QLuv9AiMK-ee-hOX9kuXBCbI4e7tzuWXAAAAAWRcuoYA
OWNER_ID=5264219629
START_IMG_URL=https://graph.org/file/64dd96d03badf6238ac5d.jpg
AUTO_LEAVING_ASSISTANT=True
AUTO_LEAVE_ASSISTANT_TIME=3600
CLEANMODE_DELETE_MINS=60
DURATION_LIMIT_MIN=200
